@font-face { font-family: Title; src: url('../fonts/vtks giz.ttf'); }

#title {
    font-family: Title;
    font-size: 130%;
    font-weight: normal;
}

.footer {
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  padding: 1% 0 1% 0;
  text-align: center;
  
}

#header {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

#object_data, #wrapper, #page-content-wrapper-container, body, #page-content-wrapper, html, #conteudo {
    min-height: 100%;
    height: 100%;
    width: 100%;
}

#index_body {
    overflow-y: scroll;
}

#object_data {
    overflow: scroll;
}

body {
    overflow: hidden;
}


.ui-autocomplete {
    z-index: 1051;
}

#modal_cadastro .modal-body  {
    margin-bottom: 70%;
}

#myModal {
    z-index: 1052;
}